ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #877266;
  border: 5px solid #C42911;
}

h1 {
	font-size: 50px;
	color: white;
	text-shadow: -1px 1px 8px black;
	font-family: MedievalSharp;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  height: 60px;
}

li a:hover {
  background-color: red;
  color: white;
}

.active {
  background-color: #C63131;
  color: white;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

body {
	margin-bottom: 100px;
	background-color: black;
	background-position: center;					
	background-repeat: no-repeat;
	background-image: url('AOT.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: white;
}

img {
	float: right;
}
		
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		
		th, td {
			text-align: center;
			padding: 5px;
		}
		
		tr:hover {
			background-color: black;
		}
		
		td:hover {
			background-color: black;
		}
		
		tr:nth-child(even) {
			background-color: #B34F4F;
		}
		
		tr:nth-child(odd) {
			background-color: #AC6161;
		}
		
		th {
			background-color: #D12525;
		}
		
		table {
			width: 1000px;
			height: 600px;
		}
		