	body {
				background-color: #4CAF50;
				font-family: Verdana;
			}

			.container {
				width: 700px;
				background-color: #fff;
				border: 10px solid #000;
				margin-left: auto;
				margin-right: auto;
				height: 700px;
			}

			.content {
				width: 660px;
				padding: 20px;
			}

			p {	
				line-height: 1.5em;
				font-size: 14pt;
			}
			
			img {
				float: left;
				margin-right: 20px;
				margin-bottom: 5px;
			}
			
			ul {
				list-style-type: none;
				background-color: #333;
				margin: 0px;
				overflow: hidden;
				padding: 0px;
			}
			
			li {
				float: left;
				width: 140px;
			}
			
			li a {
				display: block;
				color: white;
				text-decoration: none;
				text-align: center;
				padding: 14px 16px;
			}
			
			li a:hover {
				background-color: #111;
			}
			
			.current {
				background-color: #4CAF50;
			}