ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #877266;
  border: 5px solid #C42911;
}

h1 {
	font-size: 50px;
	color: white;
	text-shadow: -1px 1px 8px black;
	font-family: MedievalSharp;
}

h2 { 
	font-size: 30px;
	color: #C63131;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  height: 60px;
}

li a:hover {
  background-color: red;
  color: white;
}

.active {
  background-color: #C63131;
  color: white;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

h3 {
	color: #C63131;
	font-size: 30pt;
	margin-left: auto;
	margin-right: auto;
}

h4 {
	color: #C63131;
	font-size: 12pt;
	margin-left: auto;
	margin-right: auto;
}

h5 {
	color: #C63131;
	font-size: 12pt;
	margin-left: auto;
	margin-right: auto;
}

img.imgeren {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}

div.eren {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgmikasa {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}
div.mikasa {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgarmin {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}
div.armin {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgreiner {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}
div.reiner {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgbertholdt {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}
div.bertholdt {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgannie {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}
div.annie {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgjean {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}
div.jean {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgsasha {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}
div.sasha {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgconnie {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 50px;
}
div.connie {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imghistoria {
	border: 10px solid red;
	width: 275px;
	margin-top: -260px;
	margin-right: 10px;
}
div.historia {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgymir{
	border: 10px solid red;
	width: 275px;
	margin-top: -280px;
	margin-right: 40px;
}
div.ymir {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imglevi{
	border: 10px solid red;
	width: 275px;
	margin-top: -280px;
	margin-right: 40px;
}
div.levi {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imgerwin {
	border: 10px solid red;
	width: 275px;
	margin-top: -280px;
	margin-right: 40px;
}
div.erwin {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

img.imghange {
	border: 10px solid red;
	width: 275px;
	margin-top: -280px;
	margin-right: 40px;
}
div.hange {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 800px;
			height: 350px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

body {
	margin-bottom: 100px;
	background-color: black;
	background-position: center;					
	background-repeat: no-repeat;
	background-image: url('AOT.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

img {
	float: right;
}

div.list {
			background-color: rgba(201 , 190 , 183, 0.9);
			font-family: Cinzel;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}