ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #877266;
  border: 5px solid #C42911;
}

h1 {
	font-size: 50px;
	color: white;
	text-shadow: -1px 1px 8px black;
	font-family: MedievalSharp;
}

h2 { 
	font-size: 50px;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  height: 60px;
}

li a:hover {
  background-color: red;
  color: white;
}

.active {
  background-color: #C63131;
  color: white;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

body {
	margin-bottom: 1000px;
	background-color: black;
	background-position: center;					
	background-repeat: no-repeat;
	background-image: url('AOT.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

img {
	float: right;
}

div.personal {
			background-color: rgba(201 , 190 , 183, 0.7);
			font-family: Cinzel;
			width: 800px;
			margin-left: auto;
			margin-right: auto;
			position: middle;
			margin-top: 10px;
			margin-bottom: 100px;
			padding: 20px;
			border: 10px solid red;
			border-radius: 0px;
}

p {
	